{% extends 'base.html' %}
{% block contents %}

<body>
  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-baseline">
          <br><br><br><br><br><br><br><br><br>
          {%if error%}
          {{error}}
          <br><br>
          {%endif%}
          <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <!--보안을 위해 작성하는 난수 발생기 (csrf 방어)-->
            <div class="form-group">
              <label for="inputname" class="text-white">이름</label>
              <input type="text" name="username" class="form-control" id="inputname" placeholder=" ">
            </div><br>
            <div class="form-group">
                <label for="inputemail" class="text-white">이메일</label>
                <input type="email" name="useremail" class="form-control" id="inputemail" placeholder=" ">
              </div><br>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputpwd1" class="text-white">비밀번호</label>
                  <input type="password" name="password1" class="form-control" id="inputpwd1" placeholder=" ">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputpwd2" class="text-white">다시, 비밀번호</label>
                  <input type="password" name="password2" class="form-control" id="inputpwd2" placeholder=" ">
                </div>
              </div><br><br>
            <input class="btn btn-outline-light" type="submit" value="Sign up!"><br><br>
          </form>
        </div>
      </div>
    </div>
  </header>
</body>
{% endblock %}