{% extends 'base.html' %}
{% block contents %}
<!--contents가 올 예정임을 알림-->

<body>
  <!-- Masthead -->
  <header class="masthead">
    <br><br>
    <div class="container h-100">
      <!--버튼을 누르면 소팅하는 버튼그룹 (누르면 view.py에서 함수실행)-->
      <div class="btn-group btn-group-justified text-center" style="width:40%;float:right;">
          <a href={% url 'board' %} class="btn btn-primary">문학</a>
          <a href={% url 'java' %} class="btn btn-primary">자바</a>
          <a href={% url 'android' %} class="btn btn-primary"><strong>안드로이드</strong></a>
      </div><br><br><br>
      {% for android in posts %}
      <div class="card">
        <h5 class="card-header">{{android.title}}</h5>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">{{android.summary}}</p>
          <a href={% url 'detail3' android.id%} class="btn btn-primary">more</a>
        </div>
      </div>
      <br><br>
      {%endfor%}
      <div class="container h-10">
        <nav aria-label="Page navigation example text-center">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              {% if posts.has_previous %}
              <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
              {% else %}
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
              {% endif %}
            </li>
            <li class="page-item"><a class="page-link" href="?page={{posts.number}}">{{posts.number}}</a></li>
            <li class="page-item">
              {% if posts.has_next %}
              <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
              {% else %}
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</body>
{% endblock %}