{% extends 'base.html' %}
{% block contents %} <!--contents가 올 예정임을 알림-->
<body>
  <!-- Masthead -->
  <header class="masthead">
    <br><br><br>
    <div class="container h-100">
      <div align="right">
        <a href={% url 'new'%} class="btn btn-outline-light" role="button" aria-pressed="true">write</a>
        <br><br>
      </div>
      {% for blog in blogs.all %}
      <div class="card">
          <h5 class="card-header">{{blog.title}}</h5>
          <div class="card-body">
           <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text">{{blog.summary}}</p>
            <a href={% url 'detail' blog.id%} class="btn btn-primary">more</a>
          </div>
        </div>
        <br><br>
      {%endfor%}
    </div>
  </header>
</body>
{% endblock %}